.EventStarts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.EventStart-item-active{
  opacity: 1!important;
  outline: none;
  color: #262626;
  background-color: #c1c1c0!important;
}
.EventStart-item{
  padding: 15px;
  margin: 1px;
  font-weight: bold;
  font-size: 20px;
  background: orange;
  border: none;
  border-radius: 15px;
  width: 130px;
  text-align: center;
  opacity: 0.5;
}
.inputFileds .datetime-container{
  margin-top: 10px;
  width: 375px!important;
  margin: 0 auto;
}
.datetime-container svg {
  color: red!important;
}