.vscode/*
hooks/*
node_modules/*
platforms/*
plugins/*
typings/*
package-lock.json

project-x/build/*
project-x/node_modules/*
project-x/scripts/*
project-x/config/*

www/*
project-x/.env
.idea/