{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "prop-types": [0],
    "linebreak-style": 0,
    "no-underscore-dangle":"off",
    "no-restricted-globals":"off",
    "no-return-assign":"warn"
  },
  "plugins": [
    "react"
  ],
  "extends": ["airbnb-base"]
}