.EventBuilder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid;
  min-height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EventBuilder h2{
  color: white;
  margin-bottom: -5px;
}
.btn-confirm{
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  background: green;
  width: 140px;
  margin-bottom: 15px;
}