body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul{
  padding: 0;
  list-style: none;
}
*{
  outline: none;
  user-select: none;
}
a{
  text-decoration: none;
}
#feedback{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: rgba(200, 0, 0, 0.699);
}