.EventForm{
  height: 100vh;
  font-size: 25px;
  width: 75%;
  color: white;
}
.inputFileds{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

#eventNameInput,
#eventDescriptionInput{
  height: 25px;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
#eventNameInput::placeholder,
#eventDescriptionInput::placeholder{
  height: 25px;
  font-size: 16px;
  padding: 10px;
  border: none;
  color: #645353;
}

label[for="event-start"],
label[for="event-end"]
{
  color: rgba(255, 255, 255, 0.6)!important;
  font-size: 20px!important;
}
input#event-start,
input#event-end {
  color:white!important;
  font-size: 25px;
}
.inputFileds .datetime-container{
  margin-top:10px;
}
.datetime-container svg {
  color: red!important;
}
.btn{
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  color: white;
}
.btn-Next{
  float: right;
  background-color: green;
}
.btn-Prev{
  background-color: #80002e;
}
.buttons{
  margin: 30px 0px;
}
.conflicts h3{
  margin-bottom: 5px;
  text-align: center;
}
.conflicts-container{
  margin: 0;
}
.conflicts-item{
  padding: 10px 0;
}
.conflicts-item-name{
  color: red;
  font-weight: 800;
}
.conflicts-item-time{
  font-size: 18px;
  display: block;
}
.error{
  color: red;
  text-align: center;
}